/*
kmfd/m 
Drudge Report Techno Dark for Stylish
Fork of Drudge Report PM by Stephen VanDyke 
http://userstyles.org/styles/90993/drudge-report-pm
*/
@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("drudgereport.com") {
/* latin-ext */
@font-face {
    font-family: lucida console;
    font-style: normal;
    font-weight: 400;
}

html,
body {
    margin: 0 auto !important;
    padding: 0px !important;
    max-width: 1400px !important;
    background: #181818 !important;
    color: #0090AA !important;
}

a {
    padding-top: 5px !important;
    padding-right: 10px !important;
    color: #DBD6BE !important;
    text-decoration: none !important;
    transition-property: background-color, border-right, color !important;
    transition-duration: .35s, 0s !important;
    transition-timing-function: ease-out !important;
}

a:visited {
    color: #676767 !important;
}

a:visited font[color="RED"] {
    color: #774040 !important;
}

a:visited font[color="BLUE"] {
    color: #24468C !important;
}

a:hover {
    color: #fff !important;
    text-decoration: none !important;
    background: #333333 !important;
    padding-right: 0 !important;
    border-right: 10px solid #CCCCCC !important;
}

body,
table {
    font-size: 20px;
}

td[width="33%"] {
    display: inline-block !important;
    width: 30% !important;
    padding: 0 1%;
}

td[width="3"] {
    display: none !important;
}

hr {
    color: #006B7E !important;
}

table {
    margin: -15px 0 0 0 !important;
    padding: 0px !important;
}

td tt {
    font-family: lucida console !important;
}

td tt img {
    /* makes column images a little more dignified */
    display: block !important;
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 3px !important;
}

a[href*="https://www.drudgereport.com"] {
    width: 800px;
    margin: 0px auto;
}

img[src*="logo9.gif"] {
    /* Original logo copyright Drudge Report. Modified Drudge hat logo copyright Stephen VanDyke. All credit due where it's deserved. Will remove if asked */
    height: 0px !important;
    width: 0px !important;
    margin: 0 100px;
    padding: 0 0 100px 610px !important;
    background: url("https://raw.githubusercontent.com/kmfd/m/master/drudgehat.png") no-repeat !important;
    background-size: 100% !important;
}
}
